@import url('https://fonts.googleapis.com/css?family=Quicksand|Roboto');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
html {
  height: 100%
}

body {
  height: 100%;
}

#root {
  height: 100%;
  overflow-y: scroll;
  width: 100%;
}

.container {
  width: 95%;
  max-width: 1100px;
  margin: auto;
}

h1 {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 48px;
  margin: 48px 0;
}

nav {
  margin-top: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.tab {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  color: 	rgba(147,112,219,0.9);
}

.active {
  background-color: rgba(147,112,219,0.9);
  color: white;
}

.interval-controls {
  padding: 15px 0 0;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.interval-buttons {
  align-self: flex-end;
}

select {
  border: 1px solid lightgray;
}

.interval-buttons button {
  border: 3px solid cornflowerblue;
  color: cornflowerblue;
  background: white;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
}

.interval-buttons button:hover {
  color: white;
  background: cornflowerblue;
}

.create-form {
  margin-top: 20px;
  background-color: #EEE;
}

.stopwatch-btn, .date-time-btn, .cancel-btn {
  display: block;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background: white;
  margin: 0 auto 20px;
  outline: none;
}

.start, .date-time-btn {
  color: rgba(147,112,219,0.9);
  border: 3px solid rgba(147,112,219,0.9);
  background: white;
}

.start:hover, .date-time-btn:hover {
  color: white;
  background: rgba(147,112,219,0.9);
}

.stop, .cancel-btn {
  color: #D72638;
  border: 3px solid #D72638;
  background: white;
}

.stop:hover, .cancel-btn:hover {
  color: white;
  background: #D72638;
}

input[type="submit"] {
  display: block;
  margin: 20px auto 0;
  outline: none;
  color: rgba(147,112,219,0.9);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  border: 3px solid rgba(147,112,219,0.9);
  background: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  color: white;
  background: rgba(147,112,219,0.9);
}

input[type="submit"].edit-submit {
  display: inline-block;
  margin: 5px;
  background: white;
}
input[type="submit"].edit-submit:hover {
  color: white;
  background: rgba(147,112,219,0.9);
}

input[type="submit"].interval-submit {
  color: cornflowerblue;
  border: 3px solid cornflowerblue;
  background: white;
}

input[type="submit"].interval-submit:hover {
  color: white;
  background: cornflowerblue;
}

.cancel-btn {
  padding: 5px 10px;
  display: inline-block;
  margin: 5px;
  background: white;
}

.form-btn-group {
  text-align: center;
}

input[type=date]  {
  padding: 2px 10px;
  margin: 5px 0;
  width: 100%;
  border: 1px solid lightgray;
}

input[type=text] {
  padding: 5px 10px;
  margin: 5px 0;
  width: 100%;
  border: 1px solid lightgray;
}

label {
  margin: 5px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.form-group {
  margin-bottom: 10px;
}

.form-row {
  display: flex;
  flex-direction: column;
}

.form-row > input {
  margin: 5px;
}

.form-container {
  margin: auto;
  max-width: 350px;
  width: 90%;
}

.table-container {
  width: 100%;
  padding-bottom: 250px;
  margin-top: 25px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.btn-cell {
  border-top: 1px solid lightgray;
}


th, td {
  padding: 15px;
  border-bottom: 1px solid lightgray;
  text-align: left;
}

.btn-group {
  display: inline-flex;
  width: 100%;
  justify-content: flex-end;
}

.btn-group i {
  padding: 0 5px;
  cursor: pointer;
}

.fa-edit:hover {
  color: cornflowerblue;
}

.fa-trash-alt:hover {
  color: #D72638;
}

tr:nth-of-type(even) {
  background: #EEE;
}

.modal-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.5);
}

.modal {
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 5px;
  width: 80%;
  max-width: 400px;
}



@media (max-width: 768px) {
    h1 {
      margin: 24px 0;
    }
    .table-container {
      overflow-x: scroll;
      padding-bottom: 0;
    }
}
